<% if (action === 'posts') { %>
    <div class="content-header">
        <form class="search-admin-form" action="/admin" method="GET">
            <input type="hidden" name="action" value="posts">
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="Search.." name="search">
                <button class="nav-button" type="submit">Search</button>
            </div>
        </form>
        <button id="openPostModalBtn" class="nav-button">Create Post</button>
    </div>
    <% posts.forEach( (post, index) => { %>
        <div class="category-container admin-container">
            <div class="category-actions">
                <button class="category-button">&#x25B6;</button>
                <div>
                    <button class="category-button">Edit</button>
                    <button class="category-button">Delete</button>  
                </div>
            </div>
            <ul>
                <li style="color: #fff; margin-bottom: 30px;">#<%= index + 1 %></li>
                <li>Title : <span><%= post.title %></span></li>
                <li>Board : <span><%= post.refBoard.title %></span></li>
                <li>Poster : <span><%= post.poster.username %></span></li>
                <li>Content : <br>
                    <span style="color: #faa;">"
                    <% if (post.content.length > 90) { %>
                        <%= post.content.substring(0, 90) + "..." %>
                      <% } else { %>
                        <%= post.content %>
                      <% } %>
                    "</span>
                </li>
                <li>Replies : <span><%= post.replyCount %></span> <ul><% post.replies.forEach( (reply, index) => { %>
                    <li><%= index + 1 %> : <%= reply.poster.username %> - "
                        <% if (reply.reply.length > 80) { %>
                            <%= reply.reply.substring(0, 80) + "..." %>
                          <% } else { %>
                            <%= reply.reply %>
                          <% } %>
                        "</li>
                <% }) %></ul>
                </li>
                <li>Views : <span><%= post.views %></span></li>
                <li>Created At : <span><%= post.createdAt %></span></li>
                <li>Updated At : <span><%= post.updatedAt %></span></li>
            </ul>
        </div>
    <% }) %>

    <div id="createPostModal" class="modal8">
        <div class="post-modal-frame">
            <form id="createPostForm">
                <h2>Create Post</h2>
                <label for="postTitle">Title:</label>
                <input type="text" id="postTitle" name="postTitle" required>
    
                <label for="refBoard">Reference Board:</label>
                <select id="refBoard" name="refBoard" required>
                    <option value="">Select Reference Board</option>
                    <% boards.forEach(function(board) { %>
                        <option value="<%= board.id %>"><%= board.title %></option>
                    <% }); %>
                </select>
    
                <label for="poster">Poster:</label>
                <select id="poster" name="poster" required>
                    <option value="">Select Poster</option>
                    <% users.forEach(function(user) { %>
                        <option value="<%= user.id %>"><%= user.username %></option>
                    <% }); %>
                </select>
    
                <label for="content">Content:</label>
                <textarea id="content" name="content" required></textarea>
    
                <button type="submit">Create</button>
            </form>
        </div>
    </div>
  </div>
  <ul>
    <li style="color: #fff; margin-bottom: 30px">#<%= index + 1 %></li>
    <li>Title : <span><%= post.title %></span></li>
    <li>Board : <span><%= post.refBoard.title %></span></li>
    <li>Poster : <span><%= post.poster.username %></span></li>
    <li>
      Content : <br />
      <span style="color: #faa"
        >" <% if (post.content.length > 90) { %> <%= post.content.substring(0,
        90) + "..." %> <% } else { %> <%= post.content %> <% } %> "</span
      >
    </li>
    <li>
      Replies : <span><%= post.replyCount %></span>
      <ul>
        <% post.replies.forEach( (reply, index) => { %>
        <li>
          <%= index + 1 %> : <%= reply.poster.username %> - " <% if
          (reply.reply.length > 80) { %> <%= reply.reply.substring(0, 80) +
          "..." %> <% } else { %> <%= reply.reply %> <% } %> "
        </li>
        <% }) %>
      </ul>
    </li>
    <li>Views : <span><%= post.views %></span></li>
    <li>Created At : <span><%= post.createdAt %></span></li>
    <li>Updated At : <span><%= post.updatedAt %></span></li>
  </ul>
</div>
<% }) %>

<div id="createPostModal" class="modal8">
  <div class="post-modal-frame">
    <form id="createPostForm">
      <h2>Create Post</h2>
      <label for="postTitle">Title:</label>
      <input type="text" id="postTitle" name="postTitle" required />

      <label for="refBoard">Reference Board:</label>
      <select id="refBoard" name="refBoard" required>
        <option value="">Select Reference Board</option>
        <% boards.forEach(function(board) { %>
        <option value="<%= board.id %>"><%= board.title %></option>
        <% }); %>
      </select>

      <label for="poster">Poster:</label>
      <select id="poster" name="poster" required>
        <option value="">Select Poster</option>
        <% users.forEach(function(user) { %>
        <option value="<%= user.id %>"><%= user.username %></option>
        <% }); %>
      </select>

      <label for="content">Content:</label>
      <textarea id="content" name="content" required></textarea>

      <button type="submit">Create</button>
    </form>
  </div>
</div>

<% } %>

<script src="/js/adminCreatePost.js"></script>
