<%- include('partials/logo.ejs') %>

<div class="content-container dashed-black-container container-margin">
    <div class="directory-bar">
        <a href="/">NexusHub Forum</a> 
        <span>&gt;</span>
        <a href="/admin">Forum Master Area</a>
        <% if (action === 'categories') { %>
            <span>&gt;</span>
            <a href="/admin?action=categories">Categories</a>
        <% } else if (action === 'boards') { %>
            <span>&gt;</span>
            <a href="/admin?action=boards">Boards</a>
        <% } else if (action === 'users') { %>
            <span>&gt;</span>
            <a href="/admin?action=users">Users</a>
        <% } else if (action === 'posts') { %>
            <span>&gt;</span>
            <a href="/admin?action=posts">Posts</a>
        <% } else if (action === 'replies') { %>
            <span>&gt;</span>
            <a href="/admin?action=replies">Replies</a>
        <% } else if (action === 'reports') { %>
            <span>&gt;</span>
            <a href="/admin?action=reports">Reports</a>
        <% } %>
    </div>

    <div class="admin-container topic-header">
        <div class="admin-header">
            <img id="torch-gif" src="/images/torch.gif" alt="icon">
            <span class="header-text">Forum Master Area</span>
            <img id="torch-gif" src="/images/torch.gif" alt="icon">
        </div>
    </div>

    <%- include('partials/admin-nav.ejs') %>
    <%- include('partials/ifCategory.ejs') %>
    <%- include('partials/ifBoard.ejs') %>
    <%- include('partials/ifUser.ejs') %>
    <%- include('partials/ifPost.ejs') %>
    <%- include('partials/ifReply.ejs') %>
    <%- include('partials/ifReport.ejs') %>
</div>

<script src="js/adminResize.js"></script>
<script src="js/adminCollapse.js"></script>