<%- include('partials/logo.ejs') %>

<div class="content-container dashed-black-container container-margin">
    <div class="admin-container topic-header">
        <div class="admin-header">
            <img id="torch-gif" src="/images/torch.gif" alt="icon">
            <span class="header-text">Forum Master Area</span>
            <img id="torch-gif" src="/images/torch.gif" alt="icon">
        </div>
    </div>

    <%- include('partials/admin-nav.ejs') %>
    <%- include('partials/ifCategory.ejs') %>
    <%- include('partials/ifBoard.ejs') %>
    <%- include('partials/ifUser.ejs') %>
    <%- include('partials/ifPost.ejs') %>
    <%- include('partials/ifReply.ejs') %>
</div>