<%- include('partials/logo.ejs') %>

<div class="content-container dashed-black-container container-margin">
  <div class="content-frame">
    <table>
      <thead>
        <tr class="boards-header">
          <td colspan="5"><%= board.title %></td>
        </tr>
        <tr>
          <td colspan="5" class="index-subheading">
            <%= board.innerDescription %>
          </td>
        </tr>
        <tr class="topics">
          <th colspan="2">Subject</th>
          <th>Started By</th>
          <th style="width: 10%">Replies</th>
          <th style="width: 10%">Views</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < posts.length; i++) { %>
          <tr class="<%= posts[i].pinnedClass %>">
            <td class="post-logo">
              <% const imageSource = !posts[i].pinned ? 'images/book.gif' : 'images/candy-pin.gif'; %>
              <img src="<%= imageSource %>" alt="<%= !posts[i].pinned ? 'book gif' : 'candy pin gif'%>" />
            </td>
            <td>
              <a href="<%= posts[i].href %>"><strong><%= posts[i].title %></strong>
                </a>
              <p><%= posts[i].createdAtSGT %></p>
            </td>
            <td class="center-table-data">
              <div class="username">
                <a href="<%= posts[i].poster.href %>">
                  <%= posts[i].poster.username %>
                  </a>
              </div>
              <div class="role <%= posts[i].poster.roleClass %>">
                <%= posts[i].poster.role %>
              </div>
            </td>
            <td class="center-table-data"><%= posts[i].replyCount %></td>
            <td class="center-table-data"><%= posts[i].views %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
    
    <div class="create-post-button-container">
      <a href="<%= board.href %>/create" class="create-post-button">Create Post</a>
    </div>
    <div class="navigation-buttons" style="margin-bottom: 10px">
      <div class="pagination">
        <% if (page !== 1) { %>
            <a class="page-button" href="<%= board.href %>?page=1">«</a>
        <% } %>
        <% for(let i = 1; i <= totalPages; i++) { %>
            <a class="page-button <%= i === page ? 'currentPage' : '' %>" href="<%= board.href %>?page=<%= i %>">
                <%= i %>
            </a>
        <% } %>
        <% if (page !== totalPages) { %>
            <a class="page-button" href="<%= board.href %>?page=<%= totalPages %>">»</a>
        <% } %>
      </div>
    </div>

    <div class="legend-frame">
      <table>
        <tbody>
          <tr>
            <td><img src="../images/book.gif" alt="book gif"/></td>
            <td>Content</td>
          </tr>
          <tr>
            <td><img src="../images/candy-pin.gif" alt="candy pin gif" /></td>
            <td>Important</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
