<%- include('partials/logo.ejs') %>

<div class="content-container dashed-black-container container-margin">
  <div class="content-frame">
    <table>
      <thead>
        <tr>
          <td colspan="5" class="index-subheading">
            <div class="marquee">
              Welcome to NexusHub! A Nostalgic Cyberpunk-Themed Ragnarok Forum!
            </div>
          </td>
        </tr>
      </thead>
      <tbody>
        <% categories.forEach( (category) => { %>
          <tr>
            <td colspan="5">
              <%= category.title %>
            </td>
          </tr>
          <tr class="topics">
            <th colspan="2">Boards</th>
            <th>Topics</th>
            <th style="width: 10%;">Replies</th>
            <th style="width: 10%;">Last Post</th>
          </tr>
          <% category.boards.forEach( (board) => { %>
            <tr>
              <td class="post-logo">
                <img src="images/jejeling.gif" alt="icon">
              </td>
              <td>
                <a href="/forum/<%= board.title.toLowerCase() %>"><strong><%= board.title %></strong></a>
                <p><%= board.description %></p>
              </td>
              <td><%= board.postCount %></td>
              <td><%= board.replies %></td>
              <td>
                Last post: <%= board.lastPost.date %> 
                <br>in <a href="/post/<%= board.lastPost.title.toLowerCase() %>"><%= board.lastPost.title %></a>
                <br>by <a href="/user/id=<%= board.lastPost.poster.id %>">
                  <%= board.lastPost.poster.username %></a>
              </td>
            </tr>
          <% }); %>
        <% }); %>
        </tbody>
    </table>
  </div>
  <br><br>
  <div class="info-center-header">
    <span>NexusHub Forum - Info Center</span>
    <button class="accordion-button active"></button>
  </div>
  <div class="info-center-frame">
    <div>
      Forum Stats
    </div>
    <p>
      12 Topics and 14 Replies by 11 Members - Latest Member:
      <a href="/user/id=<%= users[users.length - 1].id %>">
        EternalWanderer
      </a>
      <br>
      Latest Post:
      <a href="/post/<%= posts[posts.length - 1].title.toLowerCase() %>">
        "HiraniRO 5x5x5x"
      </a>
      (<strong>Feb 02</strong> at 07:20 PM)
    </p>
    <div>
      Users Online
    </div>
    <p>
      <Strong>Online: 10 Guests, 1 User</Strong>
      - Most Online Today: <strong>16</strong> - Most Online Ever: 34 (Feb 01, 2024, 09:23 PM)
      <br>
      Users active in past 15 minutes: <a href="/user/id=1">lokitrickster</a>
    </p>
  </div>
</div>

<script src="js/accordion.js"></script>