<%- include('partials/logo.ejs') %>

<div class="content-container dashed-black-container container-margin">
    <div class="title-header post-container-template">
        <div class="post-title topic-header">
            <%= post.title %>
        </div>
        <p>
            <br>Started by <a href="/user/id=<%= post.poster.id %>"><%= post.poster.username %></a>, <%= post.date %>
        </p>
    </div>
    <div class="post-section-top">
        <div class="left-side-buttons">
            <a href="#bot" id="top">Go Down</a>
            <button class="prev-button">Previous</button>
            <button class="next-button">Next</button>
        </div>
        <div class="right-side-buttons">
            <a href="#bot" class="reply-button" style="text-decoration: none;">Reply</a>
        </div>
    </div>
    <div class="post-section post-container-template">
        <div class="poster-info">
            <div class="poster-name">
                <strong><a href="/user/id=<%= post.poster.id %>"><%= post.poster.username %></a></strong>
            </div>
            <div class="poster-role <%= post.poster.role.toLowerCase().replace(" ", "-") %>">
                <%= post.poster.role %>
            </div>
            <div class="poster-icon">
                <img src="images/jejeling.gif" alt="jejeling">
            </div>
            <div class="poster-join-date">
                Join Date: <%= post.poster.joinDate.replace(/\d{2}, /, '') %>
            </div>
            <div class="poster-posts">
                Posts: <%= post.poster.posts %>
            </div>
        </div>
        <div class="post-area">
            <div class="post-info">
                <div class="post-info-top">
                    <div class="post-name">
                    <a href="/post/<%= post.title.toLowerCase() %>"><strong><%= post.title %></strong></a>
                    </div>
                    <div class="vote-container">
                        <button class="upvote-btn">Upvote</button>
                        <p class="vote-count">0</p>
                        <button class="downvote-btn">Downvote</button>
                    </div>
                </div>
                <div class="post-date">
                    <%= post.date %>
                </div>
            </div>
            <p class="post-content">
                <%- post.content %>
            </p>
            <div class="post-content-footer">
                <button class="edit-button">Edit</button>
                <button class="delete-button">Delete</button>
            </div>
        </div>
    </div>

    <% for(const reply of post.replies) { %>
        <div class="reply-section post-section post-container-template">
            <div class="poster-info">
                <div class="poster-name">
                    <strong><a href="/user/id=<%= reply.poster.id %>"><%= reply.poster.username %></a></strong>
                </div>
                <div class="poster-role <%= reply.poster.role.toLowerCase().replace(" ", "-") %>">
                    <%= reply.poster.role %>
                </div>
                <div class="poster-icon">
                    <img src="images/jejeling.gif" alt="jejeling">
                </div>
                <div class="poster-join-date">
                    Join Date: <%= reply.poster.joinDate.replace(/\d{2}, /, '') %>
                </div>
                <div class="poster-posts">
                    Posts: <%= reply.poster.posts%>
                </div>
            </div>
            <div class="post-area">
                <div class="post-info">
                    <div class="post-info-top">
                        <div class="post-name">
                        <a href="/post/<%= post.title.toLowerCase() %>"><strong><%= reply.title %></strong></a>
                        </div>
                        <div class="vote-container">
                            <button class="upvote-btn">Upvote</button>
                            <p class="vote-count">0</p>
                            <button class="downvote-btn">Downvote</button>
                        </div>
                    </div>
                    <div class="post-date">
                        <%= reply.date %>
                    </div>
                </div>
                <p class="post-content">
                    <%- reply.reply %>
                </p>
                <div class="post-content-footer">
                    <button class="edit-button">Edit</button>
                    <button class="delete-button">Delete</button>
                  </div>
            </div>
        </div>
    <% } %>

    <div class="reply-section-top">
        <div class="left-side-buttons">
            <a href="#top" id="bot">Go Up</a>
            <button class="prev-button">Previous</button>
            <button class="next-button">Next</button>
        </div>
    </div>
    <div class="reply-section post-container-template">
        <div class="reply-header topic-header">
            Reply
        </div>
        <form id="replyForm">
            <input type="hidden" name="postId" value="<%= post.id %>">
            <div class="reply-area">
                <div>
                    <label for="reply-box"></label>
                    <textarea id="reply-box" name="reply" dir="ltr"></textarea>
                </div>
                <button type="submit" class="post-button">Post</button>
            </div>
        </form>
    </div>
</div>

<script src="js/reply.js"></script>
<script src="js/voteCount.js"></script>
<script src="js/edit.js"></script>
<script src="js/delete.js"></script>