<%- include('partials/logo.ejs') %>

<div class="content-container dashed-black-container container-margin">
    <div class="title-header post-container-template">
        <div class="post-title topic-header">
            <%= post.title %>
        </div>
        <p>
            <br>Started by <a href="<%= post.poster.href %>"><%= post.poster.username %></a>, <%= post.createdAtSGT %>
        </p>
    </div>
    <div class="post-section-top">
        <div class="left-side-buttons">
            <a href="#bot" id="top">Go Down</a>
            <div class="pagination">
                <% if (page !== 1) { %>
                    <a class="page-button" href="<%= post.href %>?page=1">«</a>
                <% } %>
                <% for(let i = 1; i <= totalPages; i++) { %>
                    <a class="page-button <%= i === page ? 'currentPage' : '' %>" href="<%= post.href %>?page=<%= i %>">
                        <%= i %>
                    </a>
                <% } %>
                <% if (page !== totalPages) { %>
                    <a class="page-button" href="<%= post.href %>?page=<%= totalPages %>">»</a>
                <% } %>
            </div>
        </div>
        <div class="right-side-buttons">
            <a href="#bot" class="reply-button" style="text-decoration: none;">Reply</a>
        </div>
    </div>

     <% if (page === 1) { %>
        <div class="post-section post-container-template" data-id="<%= post.id %>">
            <div class="poster-info">
                <div class="poster-name">
                    <strong><a href="<%= post.poster.href %>"><%= post.poster.username %></a></strong>
                </div>
                <div class="poster-role <%= post.poster.roleClass %>">
                   <%= post.poster.role %>
                </div>
                <div class="poster-icon">
                    <img src="images/jejeling.gif" alt="jejeling">
                </div>
                <div class="poster-join-date">
                    Join Date: <%= post.poster.joinDateMonth %>
                </div>
                <div class="poster-posts">
                    Posts: <%= post.poster.postCount %>
                </div>
            </div>
            <div class="post-area">
                <div class="post-info">
                    <div class="post-info-top">
                        <div class="post-name">
                        <a href="<%= post.href %>"><strong><%= post.title %></strong></a>
                        </div>
                        <div class="vote-container">
                            <% if (loggedIn) { %>
                                <% const postId = post._id.toString(); %>
                                <% let isUpvoted = false; %>
                                <% let isDownvoted = false; %>
                                <% userLoggedIn.upvoted.forEach(vote => { %>
                                    <% if (vote.itemType === 'Post' && vote.item.toString() === postId ) { %>
                                        <% isUpvoted = true; %>
                                        
                                    <% } %>
                                <% }); %>
                                <% userLoggedIn.downvoted.forEach(vote => { %>
                                    <% if (vote.itemType === 'Post' && vote.item.toString() === postId ) { %>
                                        <% isDownvoted = true; %>
                                        
                                    <% } %>
                                <% }); %>
                                <button class="upvote-btn <%= isUpvoted ? 'active' : '' %>">Upvote</button>
                                <p class="vote-count"><%= post.upvotes %></p>
                                <button class="downvote-btn <%= isDownvoted ? 'active' : '' %>">Downvote</button>
                            <% } else { %>
                                <button class="upvote-btn" disabled>Upvote</button>
                                <p class="vote-count"><%= post.upvotes %></p>
                                <button class="downvote-btn" disabled>Downvote</button>
                            <% } %>
                        </div>
                    </div>
                    <div class="post-info-bottom">
                        <div class="post-date">
                            <%= post.createdAtSGT %>
                        </div>
                        <div class="post-edited">
                            <% if (post.edited) { %>
                            Last Edit: <%= post.updatedAtSGT %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="post-content">
                    <%- post.content %>
                </div>
                <div class="post-content-footer">
                    <button class="edit-button">Edit</button>
                    <button class="delete-button">Delete</button>
                </div>
            </div>
        </div>
    <% } %>

    <% for(const reply of replies) { %>
        <div class="reply-section post-section post-container-template" data-id="<%= reply.id %>">
            <div class="poster-info">
                <div class="poster-name">
                    <strong><a href="<%= reply.poster.href %>"><%= reply.poster.username %></a></strong>
                </div>
                <div class="poster-role <%= reply.poster.roleClass %>">
                    <%= reply.poster.role %>
                </div>
                <div class="poster-icon">
                    <img src="images/jejeling.gif" alt="jejeling">
                </div>
                <div class="poster-join-date">
                    Join Date: <%= reply.poster.joinDateMonth %>
                </div>
                <div class="poster-posts">
                    Posts: <%= reply.poster.postCount %>
                </div>
            </div>
            <div class="post-area">
                <div class="post-info">
                    <div class="post-info-top">
                        <div class="post-name">
                        <a href="<%= post.href %>">
                            <strong><%= reply.title %></strong>
                        </a>
                        </div>
                        <div class="vote-container">
                            <% if (loggedIn) { %>
                                <% const replyId = reply._id.toString(); %>
                                <% let isUpvoted = false; %>
                                <% let isDownvoted = false; %>
                                <% userLoggedIn.upvoted.forEach(vote => { %>
                                    <% if (vote.itemType === 'Reply' && vote.item.toString() === replyId ) { %>
                                        <% isUpvoted = true; %>
                                        
                                    <% } %>
                                <% }); %>
                                <% userLoggedIn.downvoted.forEach(vote => { %>
                                    <% if (vote.itemType === 'Reply' && vote.item.toString() === replyId ) { %>
                                        <% isDownvoted = true; %>
                                        
                                    <% } %>
                                <% }); %>
                                <button class="upvote-btn <%= isUpvoted ? 'active' : '' %>">Upvote</button>
                                <p class="vote-count"><%= reply.upvotes %></p>
                                <button class="downvote-btn <%= isDownvoted ? 'active' : '' %>">Downvote</button>
                            <% } else { %>
                                <button class="upvote-btn" disabled>Upvote</button>
                                <p class="vote-count"><%= reply.upvotes %></p>
                                <button class="downvote-btn" disabled>Downvote</button>
                            <% } %>
                        </div>
                    </div>
                    <div class="post-info-bottom">
                        <div class="post-date">
                            <%= reply.createdAtSGT %>
                        </div>
                        <div class="post-edited">
                            <% if (reply.edited) { %>
                            Last Edit: <%= reply.updatedAtSGT %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="post-content">
                    <%- reply.reply %>
                </div>
                <div class="post-content-footer">
                    <button class="edit-button">Edit</button>
                    <button class="delete-button">Delete</button>
                  </div>
            </div>
        </div>
    <% } %>

    <div class="reply-section-top">
        <div class="left-side-buttons">
            <a href="#top" id="bot">Go Up</a>
            <div class="pagination">
                <% if (page !== 1) { %>
                    <a class="page-button" href="<%= post.href %>?page=1">«</a>
                <% } %>
                <% for(let i = 1; i <= totalPages; i++) { %>
                    <a class="page-button <%= i === page ? 'currentPage' : '' %>" href="<%= post.href %>?page=<%= i %>">
                        <%= i %>
                    </a>
                <% } %>
                <% if (page !== totalPages) { %>
                    <a class="page-button" href="<%= post.href %>?page=<%= totalPages %>">»</a>
                <% } %>
            </div>
        </div>
    </div>
    <div class="reply-section post-container-template">
        <div class="reply-header topic-header">
            Reply
        </div>
        <form id="replyForm">
            <input type="hidden" name="postId" value="<%= post.id %>">
            <div class="reply-area">
                <div id="editor-container"></div>
                <button type="submit" class="post-button">Post</button>
            </div>
        </form>
    </div>
</div>

<script src="js/quillEditor.js"></script>
<script src="js/reply.js"></script>
<script src="js/voteCount.js"></script>
<script src="js/edit.js"></script>
<script src="js/delete.js"></script>
