<%- include('partials/logo.ejs') %>

<div class="content-container dashed-black-container container-margin">
    <div class="directory-bar">
        <a href="/">NexusHub Forum</a> 
        <span>&gt;</span>
        <a href="/search?query=<%= query %>">Search</a>
    </div>

  <div class="title-header post-container-template topic-header">
      Search Results for "<%= query %>"
  </div>
  <div class="post-section-top">
      <div class="left-side-buttons">
          <a href="#bot" id="top">Go Down</a>
          <button class="prev-button">Previous</button>
          <button class="next-button">Next</button>
      </div>
  </div>

  <% if (posts.length > 0) { %>
      <% posts.forEach( (post, index) => { %>
          <div class="search-result-container post-section post-container-template">
              <div class="search-result-content">
                  <a href="<%= post.href %>">
                      <%- highlightSubstring(post.title, query) %>
                  </a>
                  <span>
                      <strong>#<%= index + 1 %></strong>
                  </span>
              </div>
              <p>
                  <span style="font-size: 15px;"><%= post.createdAtSGT %></span> by <a href="<%= post.poster.href %>"><%= post.poster.username %></a>
              </p>
          </div>
      <% }) %>
  <% } else { %>
      <div class="search-result-container post-section post-container-template">
          <p>No results found for <strong style="color: #FFF; font-size: 18px;"><%= query %></strong>.</p>
      </div>
  <% } %>

  <div class="reply-section-top">
      <div class="left-side-buttons">
          <a href="#top" id="bot">Go Up</a>
          <button class="prev-button">Previous</button>
          <button class="next-button">Next</button>
      </div>
  </div>
</div>