<div class="logo-container">
  <div class="ragnarok-logo-frame">
    <a href="/">
      <img alt="dark-lord" src="images/dark-lord.gif">
      <h1 id="logo">NexusHub</h1>
      <img alt="kades" src="images/kades.gif" style="height: 180px; width: 160px;">
    </a>
  </div>
</div>
<div class="content-container dashed-black-container container-margin">
  <div class="profile-container post-container-template">
    <div class="profile-header topic-header">
      Profile Summary
    </div>
    <div class="profile-area">
      <div class="profile-left">
        <div class="profile-name">
          <%= user.username %>
        </div>
        <div class="profile-role <%= user.role.toLowerCase().replace(" ", "-") %>">
          <%= user.role %>
        </div>
        <div class="profile-icon">
          <img src="images/jejeling.gif" alt="jejeling">
        </div>

      </div>
      <div class="profile-right">
        <div>
          <dl class="profile-info">
            <dt>Posts:</dt>
            <dd><%= user.posts %></dd>
          </dl>
          <dl class="profile-info">
            <dt>Age:</dt>
            <dd><%= user.age %></dd>
          </dl>
        </div>
        <div>
          <dl class="profile-info">
            <dt>Join Date:</dt>
            <dd><%= user.joinDate %></dd>
          </dl>
          <dl class="profile-info">
            <dt>Current Server:</dt>
            <dd><%= user.currentServer %></dd>
          </dl>
        </div>

      </div>
    </div>
  </div>
</div>