<%- include('partials/logo.ejs') %>

<div class="content-container dashed-black-container container-margin">
  <div class="profile-container post-container-template">
    <div class="profile-header topic-header">
      Profile Summary
    </div>
    <div class="profile-area">
      <div class="profile-left">
        <div class="profile-name">
          <%= user.username %>
        </div>
        <div class="profile-role <%= user.role.toLowerCase().replace(" ", "-") %>">
          <%= user.role %>
        </div>
        <div class="profile-icon">
          <img src="images/jejeling.gif" alt="jejeling">
        </div>

      </div>
      <div class="profile-right">
        <div class="edit-profile-container">
          <a href="/user/update-<%= user.id %>"><button class="edit-profile-button">Update Profile</button></a>
        </div>
        <div>
          <dl class="profile-info">
            <dt>Posts:</dt>
            <dd><%= user.postCount %></dd>
          </dl>
          <dl class="profile-info">
            <dt>Age:</dt>
            <dd><%= user.age %></dd>
          </dl>
        </div>
        <div>
          <dl class="profile-info">
            <dt>Join Date:</dt>
            <dd><%= user.joinDateMonth %></dd>
          </dl>
          <dl class="profile-info">
            <dt>Current Server:</dt>
            <dd><%= user.currentServer %></dd>
          </dl>
          <dl class="profile-info">
            <dt>Short Description:</dt>
            <dd><%= user.description %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>